*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor{
    display: flex;
}
.nav-list{
    display: flex;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,111,116,1) 0%, rgba(50,47,56,1) 48%, rgba(2,8,7,1) 92%);
    justify-content: space-between;
    height: 100px;
}

.logo{
    font-size: 30px;
    color: white;
    margin-left: 30px;
}

.enlaces{
    list-style-type: none;
    display: flex;
    color: white;
}

.enlaces li{
    margin-right: 30px;
    display: flex;
    height: 40px;
}

.enlaces li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all ease 0.5s;
    padding: 5px;
}

.enlaces li a:hover{
    background-color: #a69a9a77;
}

#boton{
    color: white;
    background-color: rgba(116, 228, 228, 0.773);
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    position: relative;
    bottom: 25px;
}

.tarjetaPresentacion{
    height: 600px;
    width: 600px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 30px;
}

.superior{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,163,195,1) 0%, rgba(69,15,228,1) 50%, rgba(8,146,142,1) 92%);
    height: 180px;
    width: 600px;
}

.tarjetaPresentacion img{
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 100px;
    position: relative;
    bottom: 90px;
    left: 50px;
}

.presentacion{
    padding: 0px 20px;
    text-align: start;
    position: relative;
    bottom: 90px;
    margin: 20px;
}

.tarjetaEducacion h1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

h6{
    color: #777;
    margin-bottom: 20px;
    font-size: 13px;
}

p{
    font-size: 14px;
    margin-bottom: 20px;
}

input{
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    margin-left: 0px;
}

.tarjetaEducacion{
    width: 570px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 30px;
    padding: 15px;
}

.tarjetaEducacion p{
    margin-bottom: 2px;
}

.derecha{
    margin-left: 100px;
}

.solicitudes{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 30px 30px 30px 100px;
    padding: 15px;
}

.solicitud{
    display: flex;
    padding: 10px;
}

.solicitudes h3{
    margin-bottom: 20px;
}

.solicitudes img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding-right: 5px;
}

.solicitud p{
    font-size: 18px;
    padding: 5px;
}

.botonSolicitud{
    cursor: pointer;
}

.conexiones{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 30px 30px 30px 100px;
    padding: 15px;
}

.conexion{
    display: flex;
    padding: 10px;
}

.conexiones img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid lightgray;
}

.conexiones p{
    font-size: 18px;
    padding: 5px;
}

.conexiones h3{
    margin-bottom: 20px;
}
